/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgDark text-textPrimary antialiased;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

